absl-py==0.14.1
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
bert-score==0.3.10
blis==0.7.4
catalogue==2.0.6
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
cycler==0.10.0
cymem==2.0.5
datasets>=1.13.2
descartes==1.1.0
dill==0.3.4
filelock==3.3.0
fsspec==2021.10.0
huggingface-hub>=0.0.19
idna==3.3
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mizani==0.7.3
multidict==5.2.0
multiprocess==0.70.12.2
murmurhash==1.0.5
nltk==3.6.5
numpy==1.21.2
packaging==21.0
palettable==3.3.0
pandas==1.3.3
pathy==0.6.0
patsy==0.5.2
Pillow==8.3.2
plotnine==0.8.0
preshed==3.0.5
pyarrow==5.0.0
pydantic==1.8.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2021.10.8
requests==2.26.0
rouge-score==0.0.4
sacremoses==0.0.46
sentencepiece>=0.1.95
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
smart-open==5.2.1
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
statsmodels==0.13.0
thinc==8.0.10
threadpoolctl==3.0.0
tokenizers>=0.10.3
torch>=1.9.0
torchaudio>=0.9.0
torchvision>=0.10.0
tqdm==4.62.3
transformers>=4.10.0
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
xxhash==2.0.2
yarl==1.7.0
